.card{
    position: relative;
    width: 400px;
    padding: 20px;
    max-width: 85vw; 
    height: 50vh;
    border-radius: 20px;
    background-size: 100% 100%;
    margin-top: 15vh;
    background-position: center;
    box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3);
   
}
.card h3{
    position: absolute;
    bottom: 10px;
    color: white;
}
.BiffledCards__cardContainer{
    display: flex;
    justify-content: center;
    margin-top: 1vh;

}

.swipe{
    position: absolute;
}